body {
	margin:0px;
	padding:0px;
	font-family:sans-serif;;
}
#header {
	height:30px;
	line-height:30px;
}
#header .menu {
	width:280px;
	height:inherit;
	float:right;
	text-align:right;
	font-size:10px;
}
#header h1 {
	font-size:1.4px;
	margin-right:200px;
	width:auto;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	padding:0px;
	height:inherit;
	color: #333;
	margin-left:4px;
	font-weight:normal;
}
#content {
	padding:7px;
}
h2 {
	font-size:12px;
	width:auto;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	padding:0px;
	font-weight:normal;
	display:inline;
}

/*
	Applied Rules
*/
#ruleSection {
	border-radius:0px!important;
	background-color:#ddd;
	margin-bottom:2px;
}
#ruleSectionHeader {
	line-height:22px;
	height:22px;
	color:#333;
	text-indent:4px;
	font-size:12px;
}
#ruleSectionFooter {
	text-align:right;
}
#ruleSectionFooter a {
	color:#666;
	font-size:80%;
	padding-right:6px;
	text-decoration:none;
}
#activeRules {
	margin:0px;
	padding:0px;
}
#ruleList li {
	height:24px;
	list-style-type:none;
	margin:0px;
	padding:0px;
	position:relative;
	clear:both;
}
#activeRules li {
	height:27px;
	line-height:27px;
	list-style-type:none;
	clear:both;
	font-size:90%;
	background-color:#fff;
	border-bottom: 1px solid #ddd;
}
#activeRules li.empty {
	line-height:24px;
	font-size:80%;
	text-indent:4px;
	color: #444;
}
#activeRules li div.title {
	margin-left:25px;
	margin-right:122px;
	vertical-align:middle;
	height: inherit;
	color:#222;
}
#activeRules li div.count {
	height:14px;
	margin-top:6px;
	line-height:14px;
	margin-left:2px;
	margin-right:2px;
	width:18px;
	text-align:center;
	color:white;
	font-size:10px;
	float:left;
}
#activeRules li div.hit {
	background-color:#fe4e91;
}
#activeRules li div.noHit {
	background-color:#888;
}

#version {
	color: #444;
	text-align:right;
	float:right;
	width:100px;
	font-size:80%;
	line-height:150%;
}

.buttonContainer {
 	float:right;
 	width:120px;
	height: inherit;
 	text-align:right;
 	height:inherit;
 	margin:0px;
 	padding:0px;
}
.buttonContainer input, #buttonCreateRule {
	border:none;
	display: inline-block;
	border-image:initial;
	margin-right:2px;
	text-align:center;
	height:20px;
	color: #fff;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
.buttonContainer input.buttonOn {
	background-color:#44ce60;
	width:40px;
}
.buttonContainer input.buttonOn:active {
	background-color:#37b74d;
}
.buttonContainer input.buttonOff {
	width:40px;
	background-color:#959595;
}
.buttonContainer input.buttonOff:active {
	background-color:#727272;
}
.buttonContainer input.buttonEdit {
	width:40px;
	background-color:#2bcbe9;
}
.buttonContainer input.buttonEdit:active {
	background-color:#23b4e8;	
}
#buttonCreateRule {
	background-color:#2bcbe9;
	width:240px;
}
#buttonCreateRule:active {
	background-color:#23b4e8;
}