body {
	margin:0px;
	padding:0px;
	font-family:sans-serif;;
}
#header {
	height:30px;
	background-color:#ddd;
	line-height:30px;
	background: -webkit-gradient(linear, center top, center bottom, from(#eeeeee), to(#bbbbbb))!important;
}
#header .menu {
	width:280px;
	height:inherit;
	float:right;
	text-align:right;
}
#header h1 {
	font-size:1em;
	margin-right:200px;
	width:auto;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	padding:0px;
	height:inherit;
	color: #444;
	margin-left:4px;
}
h2 {
	font-size:1em;
	width:auto;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	padding:0px;
}
#ruleList li {
	height:24px;
	list-style-type:none;
	margin:0px;
	padding:0px;
	position:relative;
	clear:both;
}
/*
	Applied Rules
*/
#activeRules {
	margin:0px;
	padding:0px;
	border:1px solid #bbb;
}
#activeRules li {
	height:24px;
	list-style-type:none;
	clear:both;
	border-top:1px solid white;
}
#activeRules li:nth-child(odd) {
 	background-color:#dfefff;
}
#activeRules li:nth-child(even) {
 	background-color:#f0f4ff;
}
#activeRules li:hover {
 	background-color:#ffffdd;
}
#activeRules li div.title {
	margin-left:22px;
	margin-right:122px;
	color: #222;
	line-height:22px;
	vertical-align:middle;
	height: inherit;
	color:#222;
}
#activeRules li div.count {
	height:14px;
	margin-top:5px;
	margin-left:2px;
	margin-right:2px;
	width:18px;
	text-align:center;
	color:white;
	font-size:10px;
	border-radius:8px!important;
	float:left;
}
#activeRules li div.hit {
	background-color:#f00;
	border: solid 1px #d00;
}
#activeRules li div.noHit {
	background-color:#888;
	border: solid 1px #444;
}

.buttonContainer {
 	float:right;
 	width:120px;
	height: inherit;
 	text-align:right;
 	height:inherit;
 	margin:0px;
 	padding:0px;
}
.buttonContainer input,#buttonCreateRule {
	border-radius:4px;
	display: inline-block;
	border:1px solid #888;
	border-image:initial;
	margin-right:2px;
	text-align:center;
	height:20px;
}
.buttonContainer input.buttonOn{
	width:40px;
	background: -webkit-gradient(linear, center top, center bottom, from(#99bbff), to(#2266dd))!important;
	color:white;
}
.buttonContainer input.buttonOn:active{
	background: -webkit-gradient(linear, center top, center bottom, from(#2266dd), to(#99bbff))!important;
}
.buttonContainer input.buttonOff{
	width:40px;
	background: -webkit-gradient(linear, center top, center bottom, from(#bbbbbb), to(#444444))!important;
	color:white;
}
.buttonContainer input.buttonOff:active{
	background: -webkit-gradient(linear, center top, center bottom, from(#444444), to(#bbbbbb))!important;
}
.buttonContainer input.buttonEdit{
	width:40px;
	background: -webkit-gradient(linear, center top, center bottom, from(#eeeeee), to(#bbbbbb))!important;
}
.buttonContainer input.buttonEdit:active{
	background: -webkit-gradient(linear, center top, center bottom, from(#bbbbbb), to(#eeeeee))!important;	
}
#buttonCreateRule {
	background: -webkit-gradient(linear, center top, center bottom, from(#f8f8f8), to(#bbbbbb))!important;
	width:240px;
}
#buttonCreateRule:active {
	background: -webkit-gradient(linear, center top, center bottom, from(#bbbbbb), to(#f8f8f8))!important;
}