/**
	Keyword Container
*/
.rule_editor_keywords {
	padding: 2px 5px 2px 15px!important;
}

/** 
	Keyword Basic
*/
#rule_editor_keywords span.word,
#smart_rule_editor_keywords span.word, 
#smart_rule_editor_preview_keywords span.word {
	margin:0px 2px 2px 0px!important;
	padding-left:5px!important;
	padding-right:2px!important;
	padding-top:0px!important;
	padding-bottom:0px!important;
	border-radius:4px!important;
	font-size:11px!important;
	display:inline-block!important;
	height:16px!important;
	line-height:16px!important;
}

/**
	RegEx & Non-RegEx
*/
#rule_editor_keywords span.regexp,
#smart_rule_editor_keywords span.regexp, 
#smart_rule_editor_preview_keywords span.regexp {
	background-color:#fdd!important;
	border: solid 1px #f77!important;
}
#rule_editor_keywords span.not_regexp,
#smart_rule_editor_keywords span.not_regexp, 
#smart_rule_editor_preview_keywords span.not_regexp {
	background-color:#def!important;
	border: solid 1px #78f!important;
}

/**
	"Block Anyway"
*/
#rule_editor_container div.block_anyway span.not_regexp {
	background-color:#ccd!important;
	border: solid 1px #aab!important;
}
#rule_editor_container div.block_anyway span.regexp {
	background-color:#dcc!important;
	border: solid 1px #baa!important;
}

/**
	Delete Button (Normal & Hover)
*/

#rule_editor_keywords span.word .deleteButton,
#smart_rule_editor_keywords span.word .deleteButton, 
#smart_rule_editor_preview_keywords span.word .deleteButton {
	width:16px!important;
	height:16px!important;
	border:none!important;
	background-image:url(../img/word_delete.png)!important;
	background-repeat:no-repeat;
	background-position:0 0;
	vertical-align:middle;
}

#rule_editor_keywords span.word .deleteButton:hover,
#smart_rule_editor_keywords span.word .deleteButton:hover, 
#smart_rule_editor_preview_keywords span.word .deleteButton:hover {
	background-image:url(../img/word_delete_hover.png)!important;
}