div.customblocker_rule_dialog h2 {
	color:black!important;
	font-size:1em!important;
	font-weight:bold!important;
}

div.customblocker_rule_dialog {
	font-size : small!important;
}

div.customblocker_rule_dialog div.section div.label {
	width:102px!important;
	font-size:75%!important;
	float:left!important;
	text-align:right!important;
	padding-right:4px!important;
	font-weight:bold!important;
	color:black!important;
}