#smart_rule_editor_body div.section h2,
#rule_editor_body div.section h2 {
	color:#444!important;
	font-size:1em!important;
	line-height:110%!important;
	text-indent:4px!important;
	font-weight:normal!important;
	margin-top:-6px!important;
	margin-left:0px!important;
	display:block!important;
	border:none!important;
}
#smart_rule_editor_body div.section h3,
#rule_editor_body div.section h3 {
	font-size:13px!important;
	font-weight:bold!important;
}
#smart_rule_editor_body div.section h2 span.text,
#rule_editor_body div.section h2 span.text{
	background-color:white!important;
}
div.customblocker_rule_dialog {
	font-size : small!important;
}

#smart_rule_editor_body  div.section div.label,
#rule_editor_body  div.section div.label {
	width:82px!important;
	font-size:75%!important;
	float:left!important;
	text-align:right!important;
	padding-right:4px!important;
	font-weight:normal!important;
	color:black!important;
}

#smart_rule_editor_body input[type="text"],
#rule_editor_body input[type="text"] {
	height:initial!important;
	border:solid 1px #888!important;
	float:none!important;
	box-shadow:none!important;
	line-height:100%!important;
	font-size:11px!important;
	color:black!important;
}

#smart_rule_editor_body input[type="button"],
#rule_editor_body input[type="button"] {
	font-size:11px!important;
}

#rule_editor_body a.help,
#smart_rule_editor_preview a.help {
	background-color:#aaa!important;
	color:white!important;
	text-decoration:none!important;
	vertical-align:middle!important;
	margin:0px 2px 0px 2px!important;
	padding-left:4px!important;
	padding-right:4px!important;
	border-radius:6px!important;
	border:solid 1px #888;
	font-size:11px!important;
}
#smart_rule_editor_keyword {
	width:120px!important;
}
#smart_rule_editor_body span.word, #smart_rule_editor_preview span.word {
	font-size:11px!important;
}
#rule_editor_body div.section,
#smart_rule_editor_body div.section {
	clear:left;
	margin:8px!important;
	padding:0px!important;
	border:1px solid black;
	border-radius:6px!important;
}
#rule_editor_body div.section div.content,
#smart_rule_editor_body div.section div.content {
	clear:left;
	margin:0px!important;
	padding:4px!important;
}
#rule_editor_body div.selector_radio_container,
#smart_rule_editor_body div.selector_radio_container
{
	font-size:10px!important;
	line-height:10px!important;
	text-align:right!important;
}
#rule_editor_body div.bottom_button_container,
#smart_rule_editor_body div.bottom_button_container {
	border-top:1px solid #aaa!important;
	padding-top:2px!important;
	padding-bottom:2px!important;
	text-align:center!important;
}
#rule_editor_body div.bottom_button_container input[type="button"],
#smart_rule_editor_body div.bottom_button_container input[type="button"] {
	font-size:14px!important;
	line-height:18px!important;
	padding:2px 8px!important;
	color:#222!important;
}
#rule_editor_body label,
#smart_rule_editor_body label {
	font-size:11px!important;
	display:inline;
	float:initial;
	color:black;
}