ul.sites {
	border:1px solid #888;
	height:480px;
	overflow-y:auto;
	list-style-type: none;
	padding-left:8px;
}
ul.sites > LI > ul {
	list-style-type: none;
	-webkit-transition: height .1s linear;
	overflow-y: hidden;
}
ul.sites > LI > ul > li {
	height:18px;
}
ul.sites > LI > ul > li.done {
	color:#888;
}
input.openButton {
	width:13px;
	height:13px;
	border:none;
}
input.plus {
	background-image:url(../img/open_plus.png);
}
input.minus {
	background-image:url(../img/open_minus.png);
}