body {
	font-family:sans-serif;
}
h1 {
	font-size:150%;
	margin:0px;
	padding:0px;
}
h2 {
	font-size:120%;
}
#prefMain {
	width:910px;	
}
#ruleListContainer {
	width:auto;
	height:480px;
	-webkit-box-shadow: inset 0px 0px 2px #888!important;
	padding:0px;
	margin: 0px;
	overflow-y:scroll;
	border:solid #bbb 1px;
}
#ruleList {
	padding:0px;
	margin:0px;
	font-size:1em;
	-webkit-box-shadow: 0px 0px 2px #888!important;
}
#rule_editor_body {
	width:340px;
	float:right;
}
#ruleList li {
	height:36px;
	list-style-type:none;
	margin:0px;
	padding:0px;
	position:relative;
	cursor:pointer;
	overflow:hidden;
	color:#444;
}
 #ruleList li.odd {
 	background-color:#f0f0f0;
	border-top:solid #ffffff 1px;
	border-bottom:solid #ddd 1px;
 }
 #ruleList li.even {
 	background-color:#f8f8f8;
	border-top:solid #ffffff 1px;
	border-bottom:solid #ddd 1px;
 }
 #ruleList li.filtered {
 	display:none;
 }
 #ruleList li:hover {
 	background-color:#ffffc0;
	border-top:solid #ffffe0 1px;
	border-bottom:solid #ddddaa 1px;
 }
 #ruleList li.selected {
 	background-color:#fff080;
	border-top:solid #ffffd0 1px;
	border-bottom:solid #dddd88 1px;
 }
 #ruleList li div.buttonContainer {
 	width:180px;
	float:right;
	height:inherit;
	line-height:17px;
 }
 #ruleList li div.buttonContainer input {
 	width:55px;
 }
 #ruleList li div.information {
 	margin-right:100px;
	height:inherit;
 }
.buttonContainer input.uiButton  {
	border-radius:4px;
	display: inline-block;
	border:1px solid #888;
	border-image:initial;
	width:40px;
	margin-right:2px;
	text-align:center;
	height:20px;
}
/*
	List Buttons
*/
.buttonContainer input.buttonOn{
	background: -webkit-gradient(linear, center top, center bottom, from(#99bbff), to(#2266dd))!important;
	color:white;
}
.buttonContainer input.buttonOn:active{
	background: -webkit-gradient(linear, center top, center bottom, from(#2266dd), to(#99bbff))!important;
	color:white;
}
.buttonContainer input.buttonOff{
	background: -webkit-gradient(linear, center top, center bottom, from(#aaaaaa), to(#666666))!important;
	color:white;
}
.buttonContainer input.buttonOff:active{
	background: -webkit-gradient(linear, center top, center bottom, from(#666666), to(#aaaaaa))!important;
	color:white;
}
.buttonContainer input.buttonEdit{
	background: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#dddddd))!important;
}
.buttonContainer input.buttonEdit:active{
	background: -webkit-gradient(linear, center top, center bottom, from(#dddddd), to(#ffffff))!important;
}
.buttonContainer input.buttonDelete{
	background: -webkit-gradient(linear, center top, center bottom, from(#ff99bb), to(#dd2266))!important;
	color:white;
}
.buttonContainer input.buttonDelete:active{
	background: -webkit-gradient(linear, center top, center bottom, from(#dd2266), to(#ff99bb))!important;
	color:white;
}
#ruleList li div.information img.favicon {
 	position:absolute;
	left:2px;
	top:2px;
}
#ruleList li div.information div.title {
 	position:absolute;
	line-height:16px;
	vertical-align:middle;
	left:20px;
	top:2px;
	height:16px;
	font-size:0.84em;
}
#ruleList li div.information div.url {
 	position:absolute;
	font-size:0.7em;
	left:10px;
	top:20px;
	color:#444;
}
#ruleList li div.information div.keywords {
 	position:absolute;
	font-size:0.6em;
	left:250px;
	top:22px;
}
#ruleList div.keywords span.blockAnyway {
	margin-right:4px;
	padding:0px 2px;
	background-color:#dfd!important;
	border: solid 1px #4d4!important;
	border-radius:8px!important;
}
#ruleList div.keywords span.keyword {
	margin-right:4px;
	padding:0px 2px;
	border-radius:8px!important;
	
}
#ruleList div.keywords span.regex {
	background-color:#fdd!important;
	border: solid 1px #f77!important;
}
#ruleList div.keywords span.normal {
	background-color:#def!important;
	border: solid 1px #78f!important;
}
#ruleList li div.information a.exampleUrl {
	position:absolute;
	font-size:0.7em;
	left:210px;
	top:20px;
}
#ruleList li div.sub_import {
	position:absolute;
	left:50px;
	top:0px;
	width:400px;	
}
#ruleList li div.sub_export {
	position:absolute;
	left:36px;
	top:0px;
	width:400px;	
}
#ruleList li img.importIcon {
	position:absolute;
	left:34px;
	top:2px;	
}
#ruleList li input.check {
	position:absolute;
	left:10px;
	top:10px;
}
#rule_editor_body {
	border:solid 1px #888;
	margin-left:4px;	
}
#ruleEmptyAlert {
	display:none;
	padding:10px;
	text-align:center;
	color:#888;
}
/*
	Header & Footer
*/

#header {
	padding:0px;
	margin-bottom:6px;
}
#header h1{
	font-weight:normal;
}
#header ul {
	height:24px;
	border:solid 1px #aaa;
	background: -webkit-gradient(linear, center top, center bottom, from(#eeeeee), to(#dddddd));
	padding:0px;
	margin:0px;
}
#header ul li {
	display:block;
	list-style-type:none;
	width:140px;
	height:inherit;
	float:left;
	text-align:center;
	border-left:solid 1px #fff;
	border-right:solid 1px #aaa;
}
#header ul li a {
	height:inherit;
	width:inherit;
	display:block;
	text-decoration:none;
	color: #666;
	line-height:24px;
}
#header ul li a:active{
	height:inherit;
	width:inherit;
	display:block;
	text-decoration:none;
	color: #444;
	background: -webkit-gradient(linear, center top, center bottom, from(#dddddd), to(#eeeeee));
}
#header ul li.selected {
	background: -webkit-gradient(linear, center top, center bottom, from(#ffeedd), to(#ffddcc));
}
#header ul li.selected a {

}
#header ul li.selected a:active {
	background: -webkit-gradient(linear, center top, center bottom, from(#ffddcc), to(#ffeedd))!important;

}
#search_box {
	background-image:url(../../img/search_icon.png);
	background-repeat:no-repeat;
	background-position:1px 1px;
	padding-left:15px;
	width:180px;	
}
span.word input.deleteButton {
	width:16px!important;
	height:16px!important;
	background-image:url(../../img/word_delete.png)!important;
	background-repeat:no-repeat;
	background-position:0px 3px;
	display:inline-block;
	margin-top:3px;
}