body {
	font-family:sans-serif;
	max-width:910px;
}
h1 {
	font-size:150%;
	margin:0px;
	padding:0px;
}
h2 {
	font-size:120%;
}
.donate {
	text-align:right;
	width:200px;
	height:auto;
	position:absolute;
	top:0px;
	right:0px;
}
.donate  a {
	text-decoration:none;
	color:#0db3ea;
	font-size:120%;
}
#prefMain {
	width:910px;	
}
#ruleListContainer {
	width:auto;
	height:457px;
	padding:0px;
	margin: 0px;
	overflow-y:scroll;
}
#ruleList {
	padding:0px;
	margin:0px;
	font-size:12px;
}
#rule_editor_body {
	width:340px;
	float:right;
}
#ruleList li {
	height:36px;
	list-style-type:none;
	margin:0px;
	padding:0px;
	position:relative;
	cursor:pointer;
	overflow:hidden;
	color:#444;
	border-bottom:1px solid #ddd;
}
 #ruleList li.filtered {
 	display:none;
 }
 #ruleList li:hover {
 	background-color:#ffffc0;
 }
 #ruleList li.selected {
 	background-color:#fff080;
 }
 #ruleList li div.buttonContainer {
 	width:175px;
 	margin-top:2px;
	float:right;
	height:inherit;
	line-height:17px;
 }
 #ruleList li div.buttonContainer input {
 	width:55px;
 }
 #ruleList li div.information {
 	margin-right:100px;
	height:inherit;
 }
.buttonContainer input.uiButton  {
	color:#fff;
	border:none;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	width:40px;
	margin-right:2px;
	text-align:center;
	height:20px;
	margin-top:auto;
	margin-bottom:auto;
}
/*
	List Buttons
*/
.buttonContainer input.buttonOn {
	background-color:#2fb947;
}
.buttonContainer input.buttonOn:active {
	background-color:#2aa440;
}
.buttonContainer input.buttonOff {
	background-color:#959595;
}
.buttonContainer input.buttonOff:active {
	background-color:#727272;
}
.buttonContainer input.buttonEdit {
	background-color:#0db3ea;
}
.buttonContainer input.buttonEdit:active {
	background-color:#0d9fd1;	
}
.buttonContainer input.buttonDelete {
	background-color:#fe376c;
}
.buttonContainer input.buttonDelete:active {
	background-color:#e13160;
}
#ruleList li div.information img.favicon {
 	position:absolute;
	left:2px;
	top:2px;
}
#ruleList li div.information div.title {
 	position:absolute;
	line-height:16px;
	vertical-align:middle;
	left:20px;
	top:2px;
	height:16px;
	font-size:12px;
}
#ruleList li div.information div.url {
 	position:absolute;
	font-size:10px;
	left:10px;
	top:20px;
	color:#444;
}
#ruleList li div.information div.keywords {
 	position:absolute;
	font-size:9px;
	left:250px;
	top:22px;
}
#ruleList div.keywords span.blockAnyway {
	margin-right:4px;
	padding:0px 2px;
	background-color:#dfd!important;
	border: solid 1px #4d4!important;
}
#ruleList div.keywords span.keyword {
	margin-right:4px;
	padding:0px 2px;
	border-radius:4px!important;
	
}
#ruleList div.keywords span.regex {
	background-color:#fed3de!important;
	border: solid 1px #fb5c86!important;
}
#ruleList div.keywords span.normal {
	background-color:#cdedf8!important;
	border: solid 1px #249bc3!important;
}
#ruleList li div.information a.exampleUrl {
	position:absolute;
	font-size:10px;
	left:210px;
	top:20px;
}
#ruleList li div.sub_import {
	position:absolute;
	left:50px;
	top:0px;
	width:400px;	
}
#ruleList li div.sub_export {
	position:absolute;
	left:36px;
	top:0px;
	width:400px;	
}
#ruleList li img.importIcon {
	position:absolute;
	left:34px;
	top:2px;	
}
#ruleList li input.check {
	position:absolute;
	left:10px;
	top:10px;
}
#rule_editor_body {
	border:solid 1px #888;
	margin-left:4px;	
}
#ruleEmptyAlert {
	display:none;
	padding:10px;
	text-align:center;
	color:#888;
}
/*
	Header & Footer
*/

#header {
	padding:0px;
	margin-bottom:6px;
	position:relative;
}
#header h1{
	font-weight:normal;
}
#header ul {
	height:24px;
	padding:0px;
	margin:8px 0px;
}
#header ul li {
	display:block;
	list-style-type:none;
	width:25%;
	height:inherit;
	float:left;
	text-align:center;
}
#header ul li a {
	height:inherit;
	display:block;
	text-decoration:none;
	color: #666;
	line-height:24px;
}
#header ul li.selected {
	background-color:#0db3ea;
}
#header ul li.selected a {
	color:white;
	
}
#search_box {
	background-image:url(../../img/search_icon.png);
	background-repeat:no-repeat;
	background-position:1px 1px;
	padding-left:15px;
	width:180px;	
}
span.word input.deleteButton {
	width:16px!important;
	height:16px!important;
	background-image:url(../../img/word_delete.png)!important;
	background-repeat:no-repeat;
	background-position:0px 0px;
	vertical-align:middle;
}
div.rule_count {
	font-size:80%;
	color: #444;
}