/*
 * Rule Editor
 */

#rule_editor_container {
	background-color : white!important;
	font-size : small!important;
	text-align : left!important;
	position : fixed!important;
	outline : solid 1px #444!important;
	padding : 0px!important;
	color : black!important;
	right : 10px;
	top :10px;
	-webkit-box-shadow: 1px 1px 2px #000!important;
}
#rule_editor_body {
	cursor:default!important;
	color:black!important;
	font-size:1em!important;
	width:400px;
}
#rule_editor_body * {
	text-align:left;
	background:none;
	text-indent:0px!important;
	position:static!important;
	font-family:sans-serif!important;
	margin:0px!important;
	padding:0px!important;
	margin:0px!important;
	border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
}
#rule_editor_body label {
	float:none!important;
	color:black!important;
	font-size:100%!important;
	width:auto!important;
	display:inline!important;
}
#rule_editor_body div,#rule_editor_body h2{
	width:auto!important;
	overflow:visible!important;
	height:auto!important;
	width:auto!important;
	left:auto!important;
	top:auto!important;
	line-height:normal!important;
	border:none!important;
}
#rule_editor_body a {
	background:none!important;
	text-indent:0px!important;
	position:static!important;
	font-family:sans-serif!important;
	margin:0px!important;
	padding:0px!important;
	margin-right:0px!important;
	margin-left:0px!important;
	margin-top:0px!important;
	margin-bottom:0px!important;
}
#rule_editor_body h2 {
	color:black!important;
	font-size:1em!important;
	font-weight:bold!important;
}
#rule_editor_body div.section {
	border: solid 1px #888!important;
	margin:4px!important;
	padding:4px!important;
	font-size:0.8em!important;
	-webkit-box-shadow: inset 0px 0px 2px #888!important;
}

#rule_editor_body div.input_section{
	clear:both;
	height:24px;
}
#rule_editor_body div.label{
	height:inherit;
	width:46px!important;
	text-align:right!important;
	margin-right:3px!important;
	float:left;
	font-size:80%;
	vertical-align:middle;
	line-height:24px;
	
}
#rule_editor_body input{
	height:auto!important;
	color:black!important;
	font-size:1em!important;
	line-height:normal!important;
	font-weight:normal!important;
	float:none!important;
	box-shadow:none!important;
	outline:none!important;
	border:auto!important;
	background-color:initial!important;
}
#rule_editor_body input[type="button"] {
	background: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#dddddd))!important;
	border-radius:4px!important;
	border:1px solid #888!important;
	padding-right:2px!important;
	padding-left:2px!important;
	margin-left:2px!important;
}
#rule_editor_body input[type="button"]:active {
	background: -webkit-gradient(linear, center top, center bottom, from(#dddddd), to(#ffffff))!important;
}
#rule_editor_body input[type="text"] {
	border:solid 1px #888!important;
	float:none!important;
	box-shadow:none!important;
}
#rule_editor_body div.section div.description {
	clear:both!important;
	float:none!important;
	font-size:0.7em!important;
	color: #444!important;
}
#rule_editor_keywords {
	padding: 4px 2px!important;	
}
#rule_editor_keywords span.word {
	
	margin:0px 2px 2px 0px!important;
	padding-left:4px!important;
	padding-right:4px!important;
	border-radius:8px!important;
}
#rule_editor_keywords span.regexp {
	background-color:#fdd!important;
	border: solid 1px #f77!important;
}
#rule_editor_keywords span.not_regexp {
	background-color:#def!important;
	border: solid 1px #78f!important;
}
#rule_editor_keywords span.word .deleteButton {
	color:#444;
	font-size:0.8em;
	text-decoration:none;
}
#rule_editor_title {
	width:240px;
}
#rule_editor_site_regexp {
	width:180px;
}
#rule_editor_example_url {
	width:180px;
}
#rule_editor_site_description {
	width:180px;
	
}
#rule_editor_search_block_xpath, #rule_editor_search_block_css {
	width:180px;
	
}
#rule_editor_search_block_description {
	width:180px;
	
}
#rule_editor_hide_block_xpath, #rule_editor_hide_block_css {
	width:180px;
	
}
#rule_editor_hide_block_description {
	width:180px;
	
}
#rule_editor_keyword {
	width:120px;
}
/**
 * Smart Rule Creator Dialog
 */
#smart_rule_creator_dialog {
	 position: absolute;
	font-family:sans-serif!important;
	margin:0px!important;
	margin-top:0px!important;
	margin-right:0px!important;
	margin-bottom:0px!important;
	margin-left:0px!important;
	padding:0px!important;
	color:black!important;
	background-color:white!important;
	font-size:1em!important;
	font-weight:normal!important;
	text-align:left!important;
	text-indent:0px!important;
	-webkit-box-shadow: 1px 1px 2px #000; 
	width:180px;
	border:solid 1px #888;
}
#smart_rule_creator_dialog li.option:nth-child(odd) {
	background-color:#fff;
}
#smart_rule_creator_dialog li.option:nth-child(even) {
	background-color:#f0f8ff;
}
#smart_rule_creator_dialog li {
	height:24px;
	background-color:#ddd;
}
#smart_rule_creator_dialog li.smartEditorSectionTitle {
	
}
#smart_rule_creator_dialog_edit {
	background-color:white;
	position:absolute!important;
	width:320px;
	height:200px;
	left:180px;
	border-radius:12px!important;
	border:solid 1px #888;
	-webkit-box-shadow: 1px 1px 2px #000;
}
/**
 * XPath Picker
 */
#xpath_picker_body {
	font-family:sans-serif!important;
	margin:0px!important;
	margin-top:0px!important;
	margin-right:0px!important;
	margin-bottom:0px!important;
	margin-left:0px!important;
	padding:0px!important;
	color:black!important;
	background-color:white!important;
	font-size:1em!important;
	font-weight:normal!important;
	text-align:left!important;
	text-indent:0px!important;
	-webkit-box-shadow: 1px 1px 2px #000; 
}
#xpath_picker_body ul,#xpath_picker_body li{
	text-indent:0px!important;
	list-style-type:none;
	margin:0px!important;
	padding:0px!important;
}

#xpath_picker_body li:nth-child(odd) {
 	background-color:#e4f0ff;
 }
#xpath_picker_body li:nth-child(even) {
 }
#xpath_picker_body ul a:hover {
	background-color:#ffc;
 }
 #xpath_picker_body ul a {
 	display:block;
	text-decoration:none;
	color:black!important;
	padding:2px;
	font-size:0.8em;
 }

 #xpath_picker_body ul a span.xpath{
 	margin-left:4px;
}
 #xpath_picker_body ul a span.badge{
	color:white;
	border: solid 1px #aa0000!important;
	border-radius:8px!important;
	font-size:80%;
	padding:0px 2px 0px 2px;
	background: -webkit-gradient(linear, center top, center bottom, from(#ff6666), to(#dd0000))!important;

}
#rule_editor_body_drag {
	height:24px;
	font-weight:bold;
	background: -webkit-gradient(linear, center top, center bottom, from(#99aaff), to(#6688dd))!important;
	cursor:move;
	line-height:24px;
	vertical-align:middle!important;
	color:white!important;
	text-indent:4px!important;
	-webkit-box-shadow: 0px 0px 1px #aaa;
	text-shadow: 1px 1px 1px #448;
	font-size:100%!important;
}

#rule_editor_body_drag a.close{
	text-decoration:none;
	height:inherit;
	color:white;
	float:right;
	width:30px;
	text-align:right;
}

#rule_editor_alert {
	background-color:#fea!important;
	border: solid 1px #fc0!important;
	border-radius:8px!important;
	color:#444;
	padding:2px 6px 2px 6px!important;
	margin:3px!important;
	font-size:12px;
	display:none;
}
#rule_editor_body div.section_alert{
	color:red;
	display:none;
	font-size:85%;
}

#rule_editor_body a.help {
	background-color:#aaa!important;
	color:white!important;
	text-decoration:none!important;
	vertical-align:middle!important;
	margin:0px 2px 0px 2px!important;
	padding-left:4px!important;
	padding-right:4px!important;
	border-radius:8px!important;
	border:solid 1px #888;
}
#rule_editor_body div.bottom_button_container {
	padding:2px!important;	
}
input.xpath_picker {
}

