@charset "UTF-8";
.rule-list {
  padding: 0px;
  margin: 0px;
  font-size: 12px; }
  .rule-list__item__information {
    margin-right: 100px;
    height: inherit; }
    .rule-list__item__information img.favicon {
      position: absolute;
      left: 2px;
      top: 2px; }
    .rule-list__item__information div.title {
      position: absolute;
      line-height: 16px;
      vertical-align: middle;
      left: 20px;
      top: 2px;
      height: 16px;
      font-size: 12px; }
    .rule-list__item__information div.url {
      position: absolute;
      font-size: 10px;
      left: 10px;
      top: 20px;
      color: #444; }
    .rule-list__item__information div.keywords {
      position: absolute;
      font-size: 9px;
      left: 250px;
      top: 22px; }
  .rule-list li {
    height: 37px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color: #444;
    border-top: 1px solid #ddd; }
    .rule-list li:last-child {
      border-bottom: 1px solid #ddd; }
    .rule-list li:hover {
      background-color: #eef8ff; }
    .rule-list li .exampleUrl {
      background-image: url("/img/button/link.png");
      background-size: 14px 14px;
      background-repeat: no-repeat;
      width: 14px;
      height: 14px;
      display: inline-block; }
    .rule-list li .sub_import {
      position: absolute;
      left: 50px;
      top: 0px;
      width: 400px; }
    .rule-list li .sub_export {
      position: absolute;
      left: 36px;
      top: 0px;
      width: 400px; }
    .rule-list li img.importIcon {
      position: absolute;
      left: 34px;
      top: 2px; }
    .rule-list li input.check {
      position: absolute;
      left: 10px;
      top: 10px; }
  .rule-list li.filtered {
    display: none; }
  .rule-list li.selected {
    background-color: #fff080; }
  .rule-list .keywords {
    clear: right; }

/* Definition */
.customblocker-keyword, .keyword {
  margin: 0px 2px 2px 0px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  display: inline-block !important;
  height: 14px !important;
  line-height: 14px !important; }
  .customblocker-keyword--complete-matching {
    background-color: #fed3de !important;
    border: solid 1px #fb5c86 !important; }
  .customblocker-keyword--not-complete-matching {
    background-color: #cdedf8 !important;
    border: solid 1px #249bc3 !important; }
  .customblocker-keyword--regexp, .keyword--regex {
    background-color: #dcc !important;
    border: solid 1px #baa !important; }
  .customblocker-keyword--not-regexp {
    background-color: #ccd !important;
    border: solid 1px #aab !important; }
  .customblocker-keyword__delete-button {
    width: 16px !important;
    height: 16px !important;
    border: none !important;
    background-image: url(../img/keyword_delete.png) !important;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    background-size: 7px 7px !important;
    vertical-align: middle; }
  .customblocker-keyword__img--option {
    width: 13px !important;
    height: 13px !important;
    vertical-align: middle !important;
    margin: 0px 3px 0px 0px !important; }

.keyword--group {
  border: solid 1px #888888 !important; }

.keyword--normal {
  background-color: #cdedf8 !important;
  border: solid 1px #249bc3 !important; }

.keyword--block-anyway {
  margin-right: 4px;
  padding: 0px 2px;
  background-color: #dfd !important;
  border: solid 1px #4d4 !important; }

.header {
  padding: 0px;
  margin-bottom: 6px;
  position: relative; }
  .header__title {
    font-weight: normal; }
  .header__donate {
    text-align: right;
    width: 200px;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px; }
    .header__donate a {
      text-decoration: none;
      color: #0db3ea;
      font-size: 120%; }
  .header__tabs {
    height: 24px;
    padding: 0px;
    margin: 8px 0px; }
    .header__tabs__tab {
      display: block;
      list-style-type: none;
      width: 25%;
      height: inherit;
      float: left;
      text-align: center;
      color: #666; }
      .header__tabs__tab__link {
        height: inherit;
        display: block;
        text-decoration: none;
        line-height: 24px;
        color: inherit; }
      .header__tabs__tab--selected {
        background-color: #0db3ea;
        color: white; }

.button-container {
  float: right;
  width: 120px;
  height: inherit;
  text-align: right;
  height: inherit;
  margin: 2px 0 0;
  padding: 0px;
  width: 175px;
  line-height: 17px; }
  .button-container input {
    border: none;
    text-indent: -9999px;
    background: none;
    margin: 0 0.2rem; }
  .button-container input.buttonOn {
    background-image: url("/img/button/on.png");
    background-size: 42px 13px;
    background-repeat: no-repeat;
    width: 42px;
    height: 13px; }
  .button-container input.buttonOff {
    background-image: url("/img/button/off.png");
    background-size: 42px 13px;
    background-repeat: no-repeat;
    width: 42px;
    height: 13px; }
  .button-container input.buttonEdit {
    background-image: url("/img/button/edit.png");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px; }
  .button-container input.buttonDelete {
    background-image: url("/img/button/delete.png");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px; }

/* Default visibility */
li div.button-container .exampleUrl, li div.button-container .buttonDelete, li div.button-container .buttonEdit {
  visibility: hidden; }

/* Hover styles */
li:hover .button-container .exampleUrl, li:hover .button-container .buttonDelete, li:hover .button-container .buttonEdit {
  visibility: visible; }

body {
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','YuGothic','Yu Gothic','メイリオ','Meiryo','ＭＳ ゴシック','Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  max-width: 910px; }

h1 {
  font-size: 150%;
  margin: 0px;
  padding: 0px; }

h2 {
  font-size: 120%; }

#prefMain {
  width: 910px; }

.rule-listContainer {
  width: auto;
  height: 457px;
  padding: 0px;
  margin: 0px;
  overflow-y: scroll; }

.rule-editor-body {
  width: 340px;
  border: solid 1px #888;
  margin-left: 4px; }

.editor-frame {
  display: flex;
  flex-direction: row-reverse; }
  .editor-frame__editor {
    width: 342px; }
  .editor-frame__list {
    flex: 1;
    padding-right: 0.5em; }

#ruleEmptyAlert {
  display: none;
  padding: 10px;
  text-align: center;
  color: #888; }

#search_box {
  background-image: url(../../img/search_icon.png);
  background-repeat: no-repeat;
  background-position: 1px 1px;
  padding-left: 15px;
  width: 180px; }

span.word input.deleteButton {
  width: 16px !important;
  height: 16px !important;
  background-image: url(../../img/keyword_delete.png) !important;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  background-size: 7px 7px !important;
  vertical-align: middle; }

span.word img.option {
  width: 14px;
  height: 14px; }

.rule-count {
  font-size: 80%;
  color: #444; }

.note {
  background-color: #cdedf8 !important;
  border: solid 1px #249bc3 !important;
  padding: 0.5em 1.5em 0.5em 0.5em;
  position: relative;
  margin-bottom: 1em;
  display: none; }
  .note__link {
    color: #249bc3; }
  .note__dismiss {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../../img/keyword_delete.png) !important;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    background-size: 7px 7px !important;
    text-indent: -9999px;
    position: absolute;
    top: 0;
    right: 0; }
