.keyword {
  padding: 0 4px;
  border-radius: 4px !important;
  font-size: 0.6rem;
  display: inline-block;
  line-height: 12px;
  height: 12px;
  margin-bottom: 4px; }
  .keyword--regex {
    background-color: #fed3de !important;
    border: solid 1px #fb5c86 !important; }
  .keyword--group {
    background-color: #ffffff !important;
    border: solid 1px #aaaaaa !important; }
  .keyword--normal {
    background-color: #cdedf8 !important;
    border: solid 1px #249bc3 !important; }
