.rule-list {
  padding: 0px;
  margin: 0px;
  font-size: 12px; }
  .rule-list__item__information {
    margin-right: 100px;
    height: inherit; }
    .rule-list__item__information img.favicon {
      position: absolute;
      left: 2px;
      top: 2px; }
    .rule-list__item__information div.title {
      position: absolute;
      line-height: 16px;
      vertical-align: middle;
      left: 20px;
      top: 2px;
      height: 16px;
      font-size: 12px; }
    .rule-list__item__information div.url {
      position: absolute;
      font-size: 10px;
      left: 10px;
      top: 20px;
      color: #444; }
    .rule-list__item__information div.keywords {
      position: absolute;
      font-size: 9px;
      left: 250px;
      top: 22px; }
  .rule-list li {
    height: 37px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color: #444;
    border-top: 1px solid #ddd; }
    .rule-list li:last-child {
      border-bottom: 1px solid #ddd; }
    .rule-list li:hover {
      background-color: #eef8ff; }
    .rule-list li .exampleUrl {
      background-image: url("/img/button/link.png");
      background-size: 14px 14px;
      background-repeat: no-repeat;
      width: 14px;
      height: 14px;
      display: inline-block; }
    .rule-list li .sub_import {
      position: absolute;
      left: 50px;
      top: 0px;
      width: 400px; }
    .rule-list li .sub_export {
      position: absolute;
      left: 36px;
      top: 0px;
      width: 400px; }
    .rule-list li img.importIcon {
      position: absolute;
      left: 34px;
      top: 2px; }
    .rule-list li input.check {
      position: absolute;
      left: 10px;
      top: 10px; }
  .rule-list li.filtered {
    display: none; }
  .rule-list li.selected {
    background-color: #fff080; }
  .rule-list .keywords {
    clear: right; }
