extends ./layout.pug
block conf
  - let title = "Preferences"
  - let tab = "index"
block extra_js
  script(type='text/javascript' src='../src/word_group_picker.js')
  script(type='text/javascript' src='../src/pref/word_editor.js')
  script(type='text/javascript' src='../src/pref/list_rules.js')
block content
  #prefMain
    #manualMigrationSection(style='display:none;margin:1em;padding:1em;background-color:#ffd')
      span.custom_filter_localize_migrationFlagNotFound
      a#manualMigrationLink(href='#')
        | [
        span.custom_filter_localize_migrationLink
        | ]
    .menu
      span.custom_filter_localize_showBadge Show number of blocked elements on app icon
      |  
      input#buttonBadgeOn(type='radio' name='badge_config')
      label(for='buttonBadgeOn') ON
      |  
      input#buttonBadgeOff(type='radio' name='badge_config')
      label(for='buttonBadgeOff') OFF
    div
      input#search_box(type='text')
    //  List & Editor
    .editor-frame
      .editor-frame__editor
        include includes/rule_editor_body.pug
      .editor-frame__list
        ul#js_rule-list.rule-list
        #ruleEmptyAlert
          span.custom_filter_localize_descriptionEmpty There is no rule. Make rules for your favorite sites.
          div
            a#help_link_empty(href='help.html')
              span.custom_filter_localize_helpEmpty How to make rules
        .rule-count
          span#activeRuleCount -
          |  /
          span#totalRuleCount -
          span.custom_filter_localize_ruleSuffix Rules
        //  Dev
        div
          span.custom_filter_localize_installPreset Install Preset Rules
