block conf
  //- title
  //- tab
doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title #{title} | CustomBlocker
    link(rel='stylesheet', type='text/css', href='../css/pref/list_rules.css')
    link(rel='stylesheet', type='text/css', href='../css/pref/help.css')
    link(rel='stylesheet', type='text/css', href='../css/rule_editor.css')
    link(rel='stylesheet' type='text/css' href='../css/rule_editor_common.css')

    script(type='text/javascript', src='../src/CustomBlocker.js')
    script(type='text/javascript', src='../src/pref/list_rules.js')
    block extra_js
      // Extra JS
  body
    header.header
      h1.header__title
        img(src='../img/top_title.png', alt='CustomBlocker for Google Chrome')
      .header__donate
        a#donate_link.custom_filter_localize_donate(href='#donate') Donate
      nav.header__tabs
        .header__tabs__tab(class=(tab=="index") ? "header__tabs__tab--selected":"")
          a.header__tabs__tab__link(href='index.html?p=p4')
            span.custom_filter_localize_prefTitle Manage Rules
        .header__tabs__tab(class=(tab=="group") ? "header__tabs__tab--selected":"")
          a.header__tabs__tab__link#word_group_link(href='word_group.html')
            span.custom_filter_localize_word_group Word Groups
        .header__tabs__tab(class=(tab=="help") ? "header__tabs__tab--selected":"")
          a.header__tabs__tab__link#help_link(href='help_en.html')
            span.custom_filter_localize_help Help
    block content
