extends ./layout.pug
block conf
  - let title = "Word Groups"
  - let tab = "group"
block extra_js
  script(type='text/javascript' src='../src/pref/word_editor.js')
  script(type='text/javascript' src='../src/pref/word_group.js')
block content
  .note.note--dismissable(note_key='KeywordGroupHeadline')
    span.custom_filter_localize_helpKeywordGroupDetail "Keyword groups" feature is supported in version 4.x!
    a.note__dismiss#js_note_close(href='#') x
  #prefMain
    //  List & Editor
    .editor-frame
      .editor-frame__editor
        #rule_editor_body.rule-editor-body.customblocker_rule_dialog
          .section.rule-editor-body__section
            h3
              span.custom_filter_localize_sectionRuleTitle Title
            input#rule_editor_title(type='text')
          .section.rule-editor-body__section
            h3
              span.custom_filter_localize_sectionWord.text Words
            div
              input#rule_editor_keyword(type='text')
              input#rule_editor_add_keyword_button.ui-button(type='button' value='ADD')
            div
              //  Complete Matching
              input#rule_editor_keyword_complete_matching_checkbox(type='checkbox')
              label(for='rule_editor_keyword_complete_matching_checkbox')
                span.custom_filter_localize_complete_matching Complete Match
              //  RegExp
              input#rule_editor_keyword_regexp_checkbox(type='checkbox')
              label(for='rule_editor_keyword_regexp_checkbox')
                span.custom_filter_localize_regex RegEx
              //  Ignore Case
              input#rule_editor_keyword_case_sensitive_checkbox(type='checkbox')
              label(for='rule_editor_keyword_case_sensitive_checkbox')
                span.custom_filter_localize_case_sensitive Case Sensitive
              //  Include link URL
              input#rule_editor_keyword_include_href_checkbox(type='checkbox')
              label(for='rule_editor_keyword_include_href_checkbox')
                span.custom_filter_localize_include_href Include URL
            #rule_editor_keywords.smart_rule_editor_keywords
          #rule_editor_alert
            //  Alert Message
          .bottom_button_container
            input.ui-button#rule_editor_save_button(type='button' value='Save')
        //  rule_editor_body
      .editor-frame__list
        div
          a.ui-button.uiButtonAdd.custom_filter_localize_newGroup#js_word_group_create_button(href='javascript:void(0)') New group
        ul#js_rule-list.rule-list
