@import '../block/rule-list.scss';
@import '../block/keyword.scss';
@import '../block/header.scss';
@import '../block/button-container.scss';
body {
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','YuGothic','Yu Gothic','メイリオ','Meiryo','ＭＳ ゴシック','Lucida Grande', 'Helvetica', 'Arial', sans-serif;
	max-width:910px;
}
h1 {
	font-size:150%;
	margin:0px;
	padding:0px;
}
h2 {
	font-size:120%;
}

#prefMain {
	width:910px;
}
.rule-listContainer {
	width:auto;
	height:457px;
	padding:0px;
	margin: 0px;
	overflow-y:scroll;
}
.rule-editor-body {
	width:340px;
	border:solid 1px #888;
	margin-left:4px;
}

.editor-frame {
	display:flex;
	flex-direction: row-reverse;
	&__editor {
		width:342px;
	}
	&__list {
		flex: 1;
		padding-right:0.5em;
	}
}

#ruleEmptyAlert {
	display:none;
	padding:10px;
	text-align:center;
	color:#888;
}

#search_box {
	background-image:url(../../img/search_icon.png);
	background-repeat:no-repeat;
	background-position:1px 1px;
	padding-left:15px;
	width:180px;
}
span.word {
	input.deleteButton {
		width:16px!important;
		height:16px!important;
		background-image:url(../../img/keyword_delete.png)!important;
		background-repeat:no-repeat;
		background-position:4px 4px;
		background-size:7px 7px!important;
		vertical-align:middle;
	}
	img.option {
		width:14px;
		height:14px;
	}
}
.rule-count {
	font-size:80%;
	color: #444;
}

.note {
	background-color: #cdedf8 !important;
	border: solid 1px #249bc3 !important;
	padding:0.5em 1.5em 0.5em 0.5em;
	position:relative;
	margin-bottom:1em;
	display: none;
	&__link {
		color: #249bc3;
	}
	&__dismiss {
			display: inline-block;
			width:16px;
			height:16px;
			background-image:url(../../img/keyword_delete.png)!important;
			background-repeat:no-repeat;
			background-position:4px 4px;
			background-size:7px 7px!important;
			text-indent: -9999px;
			position:absolute;
			top:0;
			right: 0;
	}
}
