@import '../block/customblocker-keyword.scss';
.keyword {
	@extend .customblocker-keyword;
	&--regex {
		@extend .customblocker-keyword--regexp;
	}
	&--group {
		border: solid 1px #888888!important;
	}
	&--normal {
		background-color:#cdedf8!important;
		border: solid 1px #249bc3!important;
	}
	&--block-anyway {
		margin-right:4px;
		padding:0px 2px;
		background-color:#dfd!important;
		border: solid 1px #4d4!important;
	}
}